.title {
    font-family: 'Baloo Chettan', cursive;
    font-size: 40px;
    color: rgb(93, 192, 126)
  }
  
  .headers {
    color: rgb(216, 161, 58)
  }
  
  #showStates { margin-top: 15px}

  #tableLocation{ margin-top: 25px}
  